*,
*::after,
*::before {
  box-sizing: border-box;
}

.margin-x {
  margin: $spacer--m 0;
}

html,
body {
  min-width: 320px;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  color: $font-color-base;
  line-height: $line-height;
  scroll-behavior: smooth;
}

.main {
  padding: 0 $spacer--m;
}

section {
  margin: $spacer--l 0;
}

p {
  margin-bottom: $spacer--s;
}
