.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  min-height: 48px;
  padding: 0 $spacer--s;
  background-color: $gray-dark;
  border: 1px solid $gray-dark;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: $transition-base;

  &:focus,
  &:hover,
  &:active {
    box-shadow: $box-shadow;
  }

  &:disabled {
    background-color: $gray-lighter;
    border-color: $gray-lighter;
    cursor: not-allowed;
  }

  &--login {
    width: 100%;
    max-width: 320px;
    margin: 0 auto $spacer__s;
    padding: 0 $spacer--s 0 $spacer--m;
  }

  &--secondary {
    background-color: $orange;
    border-color: $orange;
    color: $black;
  }

  &--link {
    min-width: unset;
    border: 0;
    background-color: transparent;
    color: $gray-darker;
    text-decoration: underline;
  }

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    transition: $transition-base;
  }
}
