.form-section {
  position: relative;
  margin: $spacer--xl;
  box-shadow: $box-shadow;
  padding: $spacer--l;

  &__action {
    margin: $spacer--l 0;
    @include mq($screen-sm-min) {
      max-width: 80%;
      margin: 0 auto;
    }
  }
  &__preview {
    margin: $spacer--xl 0;
    padding: $spacer--m;
    border-top: $border-base;
    text-align: left;
    word-break: break-word;
  }
}
