.form-section {
  position: relative;
  margin: $spacer--xl;
  box-shadow: $box-shadow;
  padding: $spacer--l;

  &__action {
    margin: $spacer--l 0;
    @include mq($screen-sm-min) {
      max-width: 80%;
      margin: 0 auto;
    }

    .button {
      width: 100%;
      margin-bottom: $spacer--s;
    }
  }
  &__message {
    color: red;
    font-size: $font-size-small;
  }
}
