.input {
  margin: 0 0 $spacer--s;
  &__field {
    width: 100%;
    height: 56px;
    line-height: $line-height;
    font-size: $font-size-small;
    box-shadow: none;
    color: $font-color-base;
    background: $white;
    border: $border-base;
    padding: $spacer--s $spacer--m;

    &--textarea {
      min-height: 150px;
    }
  }

  &--error {
    .input__field {
      border: 1px solid $error;
    }
  }
  .error {
    text-align: left;
    margin-top: 4px;
    font-size: $font-size-small;
    color: $error;
  }
}
